    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    }
    html{
        font-family: Arial, Helvetica, sans-serif;
    }
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .col{
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }
    .col-third{             
        width: 33.3333%;                                                                
    }
    .col-half{
        width: 50%;
    }
    /*Main */
    #main{
    
    }
    .clear{
        clear: both;
    }
    .text-white{
        color: #fff !important;
    }
    #header{
        position: fixed;
        height: 46px;
        left: 0;
        background-color: #000;
        top:0;
        right: 0;

    }
    #nav li{
        
        position: relative;

    }

    #nav>li{
        display: inline-block;
    }
    #nav .subnav{
        display: none;
    position: absolute;
    min-width: 160px;
    top: 46px;
    background-color: #fff ;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    list-style-type: none;
    
    
    }
    #nav .subnav  a{
        width: 100%;
    }
    #nav .subnav a{
        color: #000;
        padding: 0 36px 0 12px;
    }

    #nav>li>a{
        color: #fff;
        text-transform: uppercase;
    }
    #nav li a{
    
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        

    }
    #nav li:hover .subnav{
        display: block;
    }
    #nav .subnav li:hover a,
    #nav>li:hover>a{
        color: #000;
        background-color: #ccc;
        display: inline-block;
    }
    #header .search-btn{
        position: absolute;
        top:0;
        right: 0;
        color: #fff;
        padding: 0 21px;
        cursor: pointer;
        line-height: 46px;
        font-size: 16px;
        
    }
    .search-btn:hover{
        background-color: #f44336;
    }

    #slider{
        padding-top: 50%;
        margin-top: 46px;
        background: url(/assets/img/slider2.jpg) top center/cover no-repeat ;
        
        
    }
    .text-content{
    position: absolute;
    bottom: 47px;
    color: #ccc;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    }
    .text-heading{
        font-size: 24px;
        font-weight: 400;
        line-height: 60px;
    }
    .text-decrib{   
    font-size: 15px;
    }
    #content{
     
    }
    #content .content-section{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding:60px 0 60px 0;
        
    }
    #content .section-heading,.section-subheading {
    text-align: center;
    }
    #content .section-heading{
        letter-spacing: 4px;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }
    #content .section-subheading{
        font-size: 15px;
        padding-top: 25px;
        font-style: italic;
        opacity: 0.7;
    }
    #content .about-text{
        text-align: justify;
        padding-top: 25px;
        font-size: 15px;
        line-height: 1.6;
    }
     
    #content .member-item{
    
    text-align: center;
    }
    #content .member-list{
        margin-top: 40px;
        
        overflow: hidden;

    }
    #content .member-name{
        font-size: 15px;
        
    }
    #content .member-img{
        margin-top: 15px;
        width: 154px;
        border-radius: 4px;

    }
    /*Tour section*/
    .tour-section{
    background-color: black;
    }
    .ticket-list{
        background-color: #fff;
        margin-top: 40px;
    }
    .ticket-list .sold-out{
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;
    }
    .ticket-list .ticket-left{
    float: right;
    padding: 2px 7px;
     background-color: #000;
     color: #fff;
     border-radius: 50%;
    }
    .ticket-list li{
        font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    

    }

    /* place*/
    #content .place-list{
        margin-top: 32px;
        
        margin-bottom: 48px;

    }
    
    #content .place-img{
        width: 100%;
        display: block;
    }
    #content .place-body{
        background-color: #fff;
        font-size: 15px;
        padding: 16px;
        
    }
    #content .place-img:hover{
        opacity: 0.6;
    }
    #content .place-heading{
        padding: 15px 0;
        font-weight: 550;
    }
    #content .place-desc{
       padding: 20px 0;
    }
    #content .place-time{
        opacity: 0.6;

    }
    #content .place-btn{
        text-decoration: none;
        padding: 10px 14px;
        background-color: #000;
        color: #fff;
        display: inline-block;
        cursor: pointer;

    }
    #content .place-btn:hover{
        background-color: #ccc;
        color: #000;
    }
    /*Contact*/
    .contact{
       padding: 40px 0px;
      
        
    }
    .contact-infor{
        font-size: 18px;
        font-weight: 300;
        
        display: block;
        padding: 5px 0px;
    }
    .contact-half{
        height: 40px;
        padding: 8px;
        
            
        
    }
    .contact-message{
        width: 382px;
        height: 40px;
        padding: 8px;
        margin-top: 10px;
        

    }
    .contact-send{
        color: #fff;
        background-color: #000;
        height: 40px;
        width: 70px;
        text-transform: uppercase;
        float: right;
        margin:10px 10px 10px 0px;
        cursor: pointer;
       
        
    }
    #footer{

    }
    .footer-map{
        width: 100%;
        margin-top:  100px ;
    }
    .footer-icon{
        text-decoration: none;
        color: #666;
        font-size: 20px;

    }
    .footer-content{
        text-align: center;
        margin: 70px 0px;
    }
    .footer-text{
        color: #666;
        font-size: 13px;
        
    }
    .footer-icon:hover{
        opacity: 0.7;
    }
    .modal{
        position: fixed;
        top: 0 ;    
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        display: flex;
        align-items:center;
        justify-content: center;
        display: none;
    }
    .modal-container {
        background: #fff;
        width: 884px;
        height: 440px;
        position: relative;
        animation: modalFadeIn ease 0.4s;
    }
    .modal-close{
        
        padding: 20px 16px;
        color: #fff;
        position: absolute;
        right: 0;
        opacity: 0.8;
        cursor: pointer;
        
    }
    
    .modal.open{
        display: flex;
    }
    .modal-close:hover{
       opacity: 1;
       background-color: #ccc;
         color: #000;
    }
    .modal-header{
      
      width: 884px;
      height: 97px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #009688;
        font-size: 30px;
        color: #fff;
        
    }
    .ti-bag{
        padding: 20px;
    }
    .modal-body{
        font-size: 15px;
        padding: 0 16px;
        
    }
    .modal-label{
        font-weight: 300;
        padding: 15px 0;
        display: block;

    }
    .modal-input{
        padding: 8px;
        width: 850px;
        height: 40px;
        
    }
    #buy-tickets{
        background-color: #009688;
        color: #fff;
        width: 100%;
        height: 55px;
        margin:20px 0px ;
        font-size: 17px;
        cursor: pointer;
    }
    #buy-tickets:hover{
        background-color: #ccc;
        color: #000;
        border: none;
    }
    .modal-footer{
        padding: 0 16px;

    }
    .modal-help{
        float: right;;
    }
    .modal-helplink{
        text-decoration: none;
        color:#2196F3;
    }
    @keyframes modalFadeIn {
        from {
        transform: translateY(-140px);
        opacity: 0;
        }
        to{
        transform: translateY(0px);
        opacity: 1;
        }
    }